---
// Basic Cards grid Section
// ------------
// Description: A grid of cards with basic contact information in a 4 column layout.
// Properties:
// - classes: Additional classes to be added to the Section

// Components
// - Layout
import Section from '../../ui/Section.astro'
import Row from '../../ui/Row.astro'
import Col from '../../ui/Col.astro'
// - UI
import Card from '../../ui/cards/BasicCard.astro'

// 	Props
type Props = {
	classes?: string
}
const { classes } = Astro.props
---

<Section id="requests" classes={classes}>
	<Row>
		<Col span="12" align="center" classes="mb-12 max-w-4xl mx-auto">
			<h2 class="text-balance">ติดต่อจองห้องพักกับ <strong>ยูนนานโฮมสเตย์</strong></h2>
			<p class="pb-0 text-lg">
				คุณสามารจองห้องพักกับยูนนานโฮมสเตย์ได้หลากหลายช่องทาง ไม่ว่าจะเป็นการโทรจองโดยตรง การจองผ่านทางออนไลน์ 
				การจองผ่านโซเชียลมีเดียต่างๆ หรือการเข้าใช้บริการที่ยูนนานโฮมสเตย์โดยตรง 
			</p>
		</Col>
	</Row>
	<Row>
		<Col span="3">
			<Card
				title="โทรจองโดยตรง"
				subtitle="คุณสามารโทรจองได้โดยตรงผ่านเบอร์มือถือ 0806242150 / 0910700484 0806242150 / 0910700484" 
				icon="rocket"
				classes="text-center dark:!bg-neutral-800/50"
				link="/contact"
			/>
		</Col>
		<Col span="3">
			<Card
				title="จองผ่าน Line"
				subtitle="จองผ่านไลน์โดยเพิ่มเพื่อนไลน์ที่ @xxxxx จองผ่านไลน์โดยเพิ่มเพื่อนไลน์ที่ @xxxxx จองผ่านไลน์โดยเพิ่มเพื่อนไลน์ที่ @xxxxx"
				icon="document-text"
				classes="text-center dark:!bg-neutral-800/50"
				link="/contact"
			/>
		</Col>
		<Col span="3">
			<Card
				title="จองผ่าน Facebook"
				subtitle="จองผ่าน Facebook จองผ่าน Facebook จองผ่าน Facebook จองผ่าน Facebook จองผ่าน Facebook"
				icon="bolt"
				classes="text-center dark:!bg-neutral-800/50"
				link="/contact"
			/>
		</Col>
		<Col span="3" classes="flex flex-col gap-6">
			<Card
				title="เข้าใช้บริการโดยตรง"
				subtitle="เข้าใช้บริการโดยตรง เข้าใช้บริการโดยตรง เข้าใช้บริการโดยตรง เข้าใช้บริการโดยตรง เข้าใช้บริการโดยตรง"
				icon="chat-bubble-left-ellipsis"
				classes="text-center dark:!bg-neutral-800/50"
				link="/contact"
			/>
		</Col>
	</Row>
</Section>
