---
// Basic Cards grid Section
// ------------
// Description: A grid of cards with basic contact information in a 4 column layout.
// Properties:
// - classes: Additional classes to be added to the Section

// Components
// - Layout
import Section from '../../ui/Section.astro'
import Row from '../../ui/Row.astro'
import Col from '../../ui/Col.astro'
// - UI
import Card from '../../ui/cards/BasicCard.astro'

// 	Props
type Props = {
	classes?: string
}
const { classes } = Astro.props
---

<Section id="requests" classes={classes}>
	<Row>
		<Col span="12" align="center" classes="mb-12 max-w-4xl mx-auto">
			<h2 class="text-balance">
				ติดต่อสอบถาม <strong>จองห้องพัก</strong>
			</h2>
			<p class="pb-0 text-lg">
				ติดต่อสอบถามจองห้องพักกับยูนนานโฮมสเตย์ได้หลายช่องทางตามความสะดวก
			</p>
		</Col>
	</Row>
	<Row>
		<Col span="3">
			<Card
				title="โทรจองโดยตรง"
				subtitle="ติดต่อสอบถามหรือจองห้องพักได้ทันที โทร 080-624-2150 หรือ 091-070-0484"
				icon="bolt"
				classes="text-center dark:!bg-neutral-800/50"
				link="tel:0806242150"
			/>
		</Col>
		<Col span="3">
			<Card
				title="จองผ่าน LINE"
				subtitle="แชทสอบถามรายละเอียดห้องพัก หรือจองโดยตรงผ่าน LINE เพิ่มเพื่อนได้ที่ @yunnanhomestay"
				icon="bolt"
				classes="text-center dark:!bg-neutral-800/50"
				link="https://line.me/R/ti/p/@yunnanhomestay"
				target="_blank"
			/>
		</Col>
		<Col span="3">
			<Card
				title="จองผ่าน Facebook"
				subtitle="ติดตามข่าวสาร โปรโมชั่น และสอบถามการจองผ่านเพจ Facebook ยูนนานโฮมสเตย์ ดอยอ่างขาง"
				icon="bolt"
				classes="text-center dark:!bg-neutral-800/50"
				link="https://www.facebook.com/yunnanhomestay"
				target="_blank"
			/>
		</Col>
		<Col span="3" classes="flex flex-col gap-6">
			<Card
				title="เข้ามาจองที่โฮมสเตย์โดยตรง"
				subtitle="ยินดีต้อนรับทุกท่านที่ ยูนนานโฮมสเตย์ บ้านผาแดง ดอยอ่างขาง จ.เชียงใหม่ สามารถเดินทางมาเยี่ยมชมและจองห้องพักได้เลยที่หน้าที่พัก"
				icon="bolt"
				classes="text-center dark:!bg-neutral-800/50"
				link="https://maps.app.goo.gl/yunnanhomestay"
				target="_blank"
			/>
		</Col>
	</Row>
</Section>
