---
// Basic FAQ section
// ------------
// Description: A section that contains a list of frequently asked questions with answers.

// Components
// - Layout
import Section from '../../ui/Section.astro'
import Row from '../../ui/Row.astro'
import Col from '../../ui/Col.astro'
// - UI
import Accordion from '../../ui/Accordion.astro'
import Card from '../../ui/cards/partials/Card.astro'

// Props
type Props = {
	classes?: string
}
const { classes } = Astro.props
---

<Section id="FAQ" classes={classes}>
	<Row>
		<Col span="12" align="center" classes="mb-12 max-w-4xl mx-auto">
			<h2 class="text-pretty">
				คำถามเกี่ยวกับ <strong>บริการห้องพัก</strong> ที่พบบ่อย
			</h2>
			<p class="text-lg leading-relaxed">
				Curious about our pricing plans? We’re here to help. Below are some of the most frequently
				asked questions about our pricing options.
			</p>
		</Col>
		<Col span="2" />
		<Col span="8">
			<Card classes="divide-y divide-neutral-100 dark:divide-neutral-800">
				<Accordion
					title="ต้องจ่ายค่ามัดจำหรือไม่ ?"
					text="ต้องชำระค่ามัดจำในการจองห้องพักที่ ไม่เกิน 50% สำหรับการจอง (ขึ้นอยู่กับช่วงเวลา)"
				/>
				<Accordion
					title="มีค่าใช้จ่ายเพิ่มเติมไหม ?"
					text="ในส่วนของที่พักไม่มีค่าใช้จ่ายเพิ่มเติม"
				/>
				<Accordion
					title="มีบริการอาหารเย็น หรือหมูกระทะไหม ?"
					text="มีบริการอาหารตามสั่ง จิ่้มจุ่ม หมูกระทะ จากร้านค้าในชุมชน"
				/>
				<Accordion
					title="ใกล้แหล่งท่องเที่ยวไหม ?"
					text="โฮมสเตย์ห่างจาก สถานีเกษตรหล่วงอ่างขาง ประมาณ 20 กิโลเมตร ห่างจาก จุดชมวิวซุยถังประมาณ 10 กิโลเมตร"
				/>
				<Accordion
					title="โฮมสเตย์ตั้งอยู่ที่ไหน ?"
					text="โฮมสเตย์ตั้งอยู่ใจกลางชุมชน หมู่บ้านผาแดง เส้นทางดอยอ่างขาง"
				/>
			</Card>
		</Col>
		<Col span="2" />
	</Row>
</Section>

<style>
	.page-header {
		@apply mx-auto max-w-3xl;
	}
	.page-header__text {
		@apply text-lg leading-relaxed;
	}
</style>
