---
// Basic Light Call To Action section
// ------------
// Description: A centered call to action section that contains: a title, text, a rating and a button.

// Components
// - Layout
import Section from '../../ui/Section.astro'
import Row from '../../ui/Row.astro'
import Col from '../../ui/Col.astro'
// - UI
import CTA from '../../ui/CTA.astro'
import Button from '../../ui/Button.astro'
import Ratings from '../../ui/Rating.astro'
---

<Section>
	<Row>
		<Col span="1" />
		<Col span="10">
			<CTA
				title="ติดต่อ/จองห้องพัก Yunnan Home Stay"
				text="คุณสามารถติดต่อ สอบถาม จองห้องพัก กับ ยูนนานโฮมสเตย์ ผ่านการโทรโดยตรง ติดต่อผ่านโซเชียลมีเดียตต่างๆ หรือติดต่อที่โอมสเตย์โดยตรงได้ ตามที่คุณสะดวก"
				classes="!shadow-none"
			>
				<!-- <Ratings rating={5} text="1K บริการความพึงพอใจ" classes="mb-4" /> -->
				<Button size="lg" modal="multi-contact">
					ติดต่อ/จองห้องพัก
				</Button>
			</CTA>
		</Col>
		<Col span="1" />
	</Row>
</Section>
